<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <database>
    <dataSource>DESKTOP-23E4P5O</dataSource>
    <initialCatalog>irrigation_dispatching</initialCatalog>
    <persistSecurityInfo>Ture</persistSecurityInfo>
    <userId>irrigation_dispatching</userId>
    <pwd>Irrigationdispatching</pwd>
  </database>
</configuration>